.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 112px;
}
.logo {
  height: 48px;
  width: auto;
}
.cta_buttons {
  display: flex;
  gap: 3rem;
}
.navigation {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
  font-weight: 600;
  list-style-type: none;
  color: var(--clr-neutral-500);
}
.navigation__link {
  display: flex;
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navigation__link.active {
  color: var(--clr-secondary);
}
.navigation__link svg {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
